# ejercicio 2 -

In [3]:
import pandas as pd

In [26]:
b = pd.read_csv('bookings.csv.bz2',sep='^',nrows=1e5)

In [ ]:
#he limitado a 100.000

In [5]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [ ]:
#sacar columnas top 10 aeropuertos = nombre aeropuerto y nº de pasajeros

In [9]:
b.columns

Index([u'act_date           ', u'source', u'pos_ctry', u'pos_iata',
       u'pos_oid  ', u'rloc          ', u'cre_date           ', u'duration',
       u'distance', u'dep_port', u'dep_city', u'dep_ctry', u'arr_port',
       u'arr_city', u'arr_ctry', u'lst_port', u'lst_city', u'lst_ctry',
       u'brd_port', u'brd_city', u'brd_ctry', u'off_port', u'off_city',
       u'off_ctry', u'mkt_port', u'mkt_city', u'mkt_ctry', u'intl',
       u'route          ', u'carrier', u'bkg_class', u'cab_class',
       u'brd_time           ', u'off_time           ', u'pax', u'year',
       u'month', u'oid      '],
      dtype='object')

In [5]:
b2 = b[['arr_port', 'pax']]
b2.sample(5)

       arr_port  pax
69064  CDG         1
91491  EBB        -1
48328  BCN         3
86193  HIJ        -1
89777  JFK         1

In [14]:
b2.dtypes

arr_port    object
pax          int64
dtype: object

In [6]:
b.top10 = b2.groupby('arr_port').sum().sort("pax", ascending=False).head(10)

In [13]:
#b2.sort_values(by='pax', ascending=False).head()

AttributeError: 'DataFrame' object has no attribute 'sort_values'

In [14]:
b.top10

           pax
arr_port
LHR       1006
MCO        861
JFK        795
LAX        761
BKK        747
LAS        732
SFO        705
ORD        686
CDG        676
DXB        587

In [21]:
b2

       arr_port  pax
0      LHR        -1
1      CLT         1
2      CLT         1
3      SVO         1
4      SVO         1
5      LGA         1
6      LGA         1
7      SIN         2
8      SIN         2
9      SIN         2
10     SIN         2
11     SIN        -2
12     SIN        -2
13     SIN        -2
14     SIN        -2
15     SIN         1
16     SIN         1
17     SIN         1
18     SIN         1
19     TUS         1
20     CTA        -2
21     CTA         2
22     YWG         2
23     YWG         2
24     YWG        -2
25     YWG         2
26     YWG         2
27     YWG        -2
28     YWG        -2
29     YWG         2
...         ...  ...
99970  SYD         1
99971  SYD        -1
99972  SYD         1
99973  LOS         1
99974  MCT         1
99975  MCT        -1
99976  BEG         1
99977  BEG         1
99978  SGN         1
99979  SJJ         1
99980  SJJ         1
99981  LHR         7
99982  LHR         7
99983  LHR        -7
99984  LHR        -7
99985  DXB         1
99986  DXB         1
99987  BKK         1
99988  BKK         1
99989  BOG         1
99990  BOG         1
99991  BOG        -1
99992  BOG         1
99993  DEL        -2
99994  DEL        -2
99995  IXL         2
99996  IXL        -2
99997  IXL        -2
99998  CPT         2
99999  CPT         2

[100000 rows x 2 columns]

In [1]:
import matplotlib.pyplot as plt 
%matplotlib inline

In [ ]:
#locura se queda pillado -->  searches.b = pd.read_csv('searches.csv.bz2',sep='^')

In [ ]:
#b2 = searches[['arr_port', 'pax']]
#b2.sample(5)

In [1]:
from GeoBases import GeoBase

In [2]:
g = GeoBase(data='ori_por',verbose=False)

In [8]:
g.get('MUC')['name']

'Munich International Airport'

In [21]:
btop10aero = b.top10[['arr_port']]

KeyError: "['arr_port'] not in index"

In [32]:

cities = top.arr_port.apply(lambda a: g.get(a.strip())['country_name'])

In [28]:
top =b.sort('pax',ascending=False).head(5)

In [30]:
#columnas adicionales
names = []
for x in top.arr_port:
    print "***"+ x + "****"
    names.append(g.get(x.strip())['name'])


top['names'] = names

***AGP     ****
***EWR     ****
***JNB     ****
***MLA     ****
***LIS     ****

In [31]:
top

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid,names
51312,2013-01-21 00:00:00,1A,DE,950a69f66cd514d300fa9205f5f7f0ac,7a4a9d9329592c96698d4a90d3ab37bc,928d0d367894dcc9b4b75a092c456e6d,2012-12-03 00:00:00,8038,0,MUC,...,KL,G,Y,2013-09-11 19:55:00,2013-09-11 22:53:51,70,2013,1,HAJL121C3,Málaga Airport
12280,2013-03-07 00:00:00,1P,US,905282a8d909a4fefc76e49d6cc5bb01,33bb4e24b37361b61d483c14e025f38b,59cb95188eedbf5541723cab19a6fe89,2013-03-07 00:00:00,169,1715,FLL,...,FK,W,Y,2013-04-04 06:02:00,2013-04-04 08:51:04,66,2013,3,NULL,Newark International Airport
27315,2013-01-29 00:00:00,1A,DE,1cda4dab190bbcd549d12da5ce1ac6f2,4569dd5bf21ba987e125e875cb3d8a51,9581d5b004aa1b222ebe73c9cf1a7ee1,2013-01-29 00:00:00,661,8686,FRA,...,VR,L,Y,2014-01-16 22:15:00,2014-01-17 10:16:06,60,2013,1,NULL,Oliver Reginald Tambo International
91812,2013-01-29 00:00:00,1A,SE,b597a5816ad6748b7819e7431f7b421f,a57e53be1b2c67128f89db9e8b16e735,6d287745742cc0215a18cd75396e3959,2013-01-29 00:00:00,235,2656,ARN,...,DU,G,Y,2013-08-15 06:00:00,2013-08-15 09:55:27,60,2013,1,NULL,Luqa
22602,2013-01-04 00:00:00,1G,PT,8db221b52940eda6af19dccc29334189,9580a85f064fd5b974ba04c1449c5a65,ecd285468aad4b780ea2259d8650dbbb,2013-01-04 00:00:00,150,1448,PDL,...,DW,G,Y,2013-04-28 08:25:00,2013-04-28 11:55:11,50,2013,1,NULL,Lisboa / Portela

In [33]:
top['cities']

KeyError: 'cities'